body {
  font-family: Roboto, sans-serif;
  background: #fff;
  color: #434455;
  width: 1440px;
  height: 72px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}
header {
  padding: 0 15px;
}

.section {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.container {
  width: 1158px;
}

/*navigation*/

.navigation-item {
  margin-right: auto;
}

.header-container {
  display: flex;
  width: 90rem;
  height: 4.5rem;
  flex-shrink: 0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.web-link {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03375rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 24px 76px 24px 156px;

  height: 1.5rem;
  align-items: center;
}

.studio-link {
  color: #2e2f42;
  font-family: Raleway;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3125rem;
  letter-spacing: 0.03375rem;
  text-transform: uppercase;
  text-decoration: none;
}
.list-link {
  display: inline-flex;
}

.list-link {
  gap: 2.5rem;
}

.link {
  font-family: Roboto;
  color: #2e2f42;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.02rem;
  text-decoration: none;
  display: flex;
  align-items: flex-start;
}
.link:hover,
.link:focus {
  color: #404bbf;
}

/*adress menu*/

.contacts-menu {
  font-style: normal;
  margin-right: 9.75rem;
}

.contacts {
  text-decoration: none;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.02rem;
  color: #434455;
}
.contacts-item {
  display: inline-flex;
  gap: 2.5rem;
}

.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

/*main-section-one*/

.solutions {
  background: #2e2f42;
  height: 37.5rem;
  padding-top: 11.75rem;
}

.solutions-title {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.07rem;
  display: flex;
  margin-left: 29.5rem;
  max-width: 31rem;
}

.button {
  background: #4d5ae5;
  cursor: pointer;
  padding: 1rem 2rem;
  align-items: flex-start;
  border-radius: 0.25rem;
  display: flex;
  min-width: 10.56rem;
  height: 3.5rem;
  border: none;
  margin-top: 3rem;
  margin-left: 39.75rem;

  /*button text*/

  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.04rem;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

/*main-section-two*/
.directions {
  background: #fff;
  height: 21.5rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container-second-section {
  padding-left: 9.75rem;
}

.directions-items {
  display: flex;
  gap: 1.5rem;
  flex-direction: row;
  width: calc((100%-1.5rem) / 4);
}

.section-two-headers {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.025rem;
  width: 16.5rem;
}

.section-two-text {
  color: #434455;
  font-family: Roboto;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.02rem;
  width: 16.5rem;
  margin-top: 0.5rem;
}

/*main-section-three*/

.our-team {
  background: #f4f4fd;
  padding-left: 9.75rem;
  height: 45.75rem;
  flex-shrink: 0;
}
.team-card {
  display: inline-flex;
  gap: 1.5rem;
  flex-direction: row;
  width: calc((100%-1.5rem) / 4);
  margin-top: 4.5rem;
}

.team-title {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.045rem;
  text-transform: capitalize;
}

.card-conteiner {
  background: #fff;
}

.stars-name {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.025rem;
  text-align: center;
}

.stars-position {
  color: #434455;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.02rem;
  margin-top: 0.5rem;
  text-align: center;
}

/*main-section-fourth*/

.portfolio-conteiner {
  background: #fff;
}

.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.045rem;
  text-transform: capitalize;
}

.project-card {
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: #fff;
}

.project-name {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.025rem;
}

.project-direction {
  color: #434455;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.02em;
}

/*footer*/

.footer-conteiner {
  background: #2e2f42;
}

.footer-web {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03375rem;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-studio {
  color: #f4f4fd;
  font-family: Raleway, sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03375rem;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-information {
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.02rem;
}
